<app-navbar></app-navbar>

<div class="container-fluid">

  <ng-container *ngFor="let month of monthList">


    <div class="row pt-5" *ngIf="!(!month.games || month.games.length < 1 )">


      <h1 class="month">{{month.month}}</h1>

      <div class="col-xs-12 col-md-4 col-lg-3" *ngFor="let game of month.games">

        <div class="card bg-dark text-white my-2" *ngIf="game.steamHeaderUrl; else noImg">
          <img src={{game.steamHeaderUrl}} class="card-img" alt={{game.name}}>
          <div class="card-img-overlay">

          </div>
        </div>

        <ng-template #noImg>
          <div class="card bg-dark text-white my-2">
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/1538420/header.jpg" class="card-img"
              alt={{game.name}}>
            <div class="card-img-overlay">
              <h3 class="card-title">{{game.name}}</h3>
              <p class="card-text">Didn't find a steam header image.</p>
            </div>
          </div>
        </ng-template>

      </div>

    </div>

  </ng-container>

</div>





<!-- <button type="button" class="btn btn-danger" (click)="clickAllButtons()">Click all the buttons!</button>
<ul>
  <li *ngFor="let month of monthList">
    <h2>{{month.month}} - {{month.release*1000 | date}}</h2>
    <button class="btn btn-success" (click)="addAllGames(month)">Add all games!</button>
  </li>
</ul> -->

<app-footer></app-footer>